/* gold gridlines for layout alignment:  */
/* * { border: 1px solid gold} */

body {
  background-color: black;
  color: gray;
  font-family: 'Montserrat', sans-serif;
  font-size:20px; 
  margin: 20px;
}
.half {
  height: 300px;
  width: 800px;
  background-repeat: no-repeat, repeat;
  background-size: 100%;

}
#top {
  background-image: url('https://i.imgur.com/wfEyvQ1.png');
  background-position: center bottom;
  margin-bottom: 20px;
  display:grid;
}
#topPaint {
  background-image: url('https://i.imgur.com/6kwO8nT.png');
  background-position: center bottom;
  margin-bottom: 20px;
  display:grid;
}
#bottom {
  background-image: url('https://i.imgur.com/dBZu3Mp.png');
  background-position: left center;
  margin-top: 20px;
}

#howToPlayButton {
  position: absolute;
  right: 20px;
  top:20px;
  font-family: 'Montserrat',sans-serif;
}
#resetGameButton {
  position: absolute;
  right: 20px;
  top:40px;
  font-family: 'Montserrat',sans-serif;
  margin-top:10px;
}

.modal {
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	left: -215px;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;

}
.modal h1 {
  font-size: 20px;
  margin-bottom: 30px;
}
#modal-textbox {
	background-color: black;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
	border-radius: 15px;
	font-family: 'Avenir Next', sans-serif;
	color: rgb(5, 168, 157);
	border: 3px solid black;
	border-radius: 5px;
	box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 15px;

}
.modal-buttons {
	padding: 14px 18px;
	background-color: rgb(5, 168, 157);
	border: none;
	outline: none;
	border-radius: 3px;
	color: black;
	font-family: 'Montserrat',sans-serif;
	cursor: pointer;
  margin-top:20px;

}
.modal-buttons:hover {
	background-color: #13CCC1;
	color: black;
	box-shadow: 0.2rem 0.2rem 0 darkgray;
  transform: translate(-0.2rem, -0.2rem);
}
#modal-footer {
	text-align: right;
	display: flex;
	justify-content: center;
}

#workDisplay {
  position: absolute;
  color: whitesmoke;
  background-color: rgba(110, 98, 89,.7);
  letter-spacing: 1.5px;
  line-height: 500%;
  border-radius: 10px;
  top: 50px;
  left: 50px;
  font-size: 10px;
  margin: 0px;
  padding: 10px;
  line-height: 80%;
}
#imgTopDiv {
  position: relative;
}
#imgBottomDiv {
  position: relative;
}
#avatar {
  width: 90px;
  position:absolute;
  bottom: 0px;
  left: 700px;
}
#mattress {
  width: 300px;
  position: absolute;
  bottom: -10px;
}
#suitcase {
  width: 100px;
  position: absolute;
  right: 200px;
  bottom: 30px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 32, .2);
}
#shoes {
  width: 140px;
  position: absolute;
  left: 160px;
  top: 140px;
}
#bicycle {
  width: 285px;
  position: absolute;
  left:20px;
  top: 110px;
}
#plant {
  width: 150px;
  position: absolute;
  right:110px;
  top:110px;
}
#rug {
  width: 350px;
  position: absolute;
  left:300px;
  bottom:0px;
}
#dresser {
  width: 150px;
  position: absolute;
  left:300px;
  bottom:45px;
}
#bed {
  width: 400px;
  position: absolute;
  left:0px;
  bottom:0px;
}
#laptop {
  width: 95px;
  position: absolute;
  left:250px;
  bottom:60px;

}
#car {
  /* width: 300px; */
  position: absolute;
  left: 0px;
  top: 130px;

}
.frame {
  position: absolute;
  width: 100px;
  bottom: 100px;
}
.framesOpening {
  position: absolute;
  width: 100px;
  top: 0px;
}
#frame1 {
  width: 155px;
  position: absolute;
  top: 60px;
  left: 10px;
}
#frame2 {
  width: 150px;
  position: absolute;
  top: 10px;
  right: 190px;
}
#frame3 {
  width: 100px;
  position: absolute;
  top: 40px;
  right: 360px;
}
#frame4 {
  width: 100px;
  position: absolute;
  top: 120px;
  right: 300px;
}
#frame5 {
  width: 50px;
  position: absolute;
  top: 40px;
  left: 170px;
}
#frame6 {
  width: 120px;
  position: absolute;
  top: 3px;
  left: 240px;
}
#frame7 {
  width: 70px;
  position: absolute;
  top: 5px;
  left: 50px;
}
#frame8 {
  width: 70px;
  position: absolute;
  top: 115px;
  left: 280px;
}
#frame9 {
  width: 40px;
  position: absolute;
  top: 160px;
  right: 210px;
}
#frame10 {
  width: 60px;
  position: absolute;
  top: 115px;
  right: 240px;
}
#frame11 {
  width: 40px;
  position: absolute;
  top: 5px;
  right: 380px;
}
#phone {
  display: flex;
  justify-content: flex-end;
}
#phoneIMG {
  position: relative;
  height: 350px;
  width: 200px;
  bottom: 45px;
}
#phoneScreen {
  position: absolute;
  height: 250px;
  width: 180px;
  padding: 5px;
}
#calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 5px;
}
#time {
  font-size: 25px;
  color: rgb(255,100,78);
  font-weight: bold;
}
#week {
  color: gray;
  font-size: 17px;
}
#phoneButtons {
  display: flex;
  flex-wrap: wrap;
  margin: -2px 15px;
}
.phoneButton {
  font-size: 9px;
  text-align: center;
  height: 35px;
  width: 30px;
  margin: 5px;
  flex-basis: 1 1 0px;
  flex-grow: 1;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(5, 168, 157);
  font-weight: bold;
  outline: 0;

}
.phoneButton:hover {
  background-color: #13CCC1;
}
.phoneButton:disabled {
  background-color: black;
  color: darkgray;
  border-bottom-color: darkgray;
  border-left-color: black;
}
#perfMeters {
  margin: 0px 15px;
  font-size: 13px;
}
.meterDiv {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.meter {
  display: flex;
  align-self: center;
  /* border-radius:1px; */

}
progress {
  border-radius:5px;
  width: 70%;
  height: 10px;
  margin: 0% 0%;
  border: 1px solid rgb(119,255,235);
}
progress::-webkit-progress-bar {
  background-color: rgb(52,73,94);
  border-radius:5px;


}
progress::-webkit-progress-value {
  background-color: rgb(119,255,235);
  border-radius:5px;
  transition: .25s;
  transition-timing-function: ease;
  /* margin: 1px; */
  border: 1px solid rgb(52,73,94);

}
